.header__utilities {
    position: relative;
}

nav {
    position: absolute;
    top: 40%;
    right: 5%;
}

.header-nav__button {
    padding: 5px 20px;
    border: 2px solid #D9C6B6;
    text-decoration: none;
    font-size: 20px;
    background: #F1ECE6;
    color: #D9C6B6;
}

.content {
    max-width: 1500px;
    padding: 100px 0;
    text-align: center;
    font-family: 'Inika', 'メイリオ', serif;
    color: #82756a;
}

.content__item {
    width: 70%;
    margin: 0 auto;
}

.content__title {
    margin: 50px auto;
    font-size: 25px;
}

h2 {
    font-weight: lighter;
}

.search-form {
    display: flex;
    justify-content: space-between;
}

.search-form__text {
    width: 35%;
    text-align: left;
}

.search-form__text-input {
    width: 100%;
    height: 40px;
    padding: 10px 10px;
    border: 1px solid #E9E6E3;
    font-family: 'Inika', 'メイリオ', serif;
    background: #FBFBFB;
}

::placeholder {
    font-family: 'Inika', 'メイリオ', serif;
}

.search-form__gender {
    position: relative;
    width: 10%;
    text-align: left;
}

.search-form__gender::before {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-width: 15px 7px 0 7px;
    border-color: #E0DFDE transparent transparent transparent;
    pointer-events: none;
}

select {
    width: 90%;
    height: 40px;
    padding: 10px;
    border: 1px solid #E9E6E3;
    font-family: 'Inika', 'メイリオ', serif;
    background: #F4F4F4;
    -webkit-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

option {
    font-family: 'Inika', 'メイリオ', serif;
    color: #82756a;
}

option:first-of-type {
    display: none;
    color: #BEB2A6;
}

.search-form__category {
    position: relative;
    width: 20%;
}

.search-form__category::before {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-width: 15px 7px 0 7px;
    border-color: #E0DFDE transparent transparent transparent;
    pointer-events: none;
}

.search-form__category-select {
    width: 80%;
}

.search-form__date {
    width: 15%;
}

.search-form__date-input {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 10px 10px;
    border: 0;
    box-sizing: border-box;
    font-weight: bold;
    background: #F4F4F4;
    color: #82756a;
}

.search-formk__date-input::-webkit-calender-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 36px;
    height: 36px;
    background: rgba(255, 0, 0, 0.5);
    cursor: pointer;
}

.search-font__date-button::before {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-width: 15px 7px 0 7px;
    border-color: #E0DFDE transparent transparent transparent;
    pointer-events: none;
}

.search-form__button-submit {
    padding: 10px 25px;
    border: 1px solid #82756a;
    background: #82756a;
    color: #fff;
    cursor: pointer;
}

.search-form__button-reset {
    padding: 10px 15px;
    border: 1px solid #D9C6B5;
    background: #D9C6B5;
    color: #fff;
    cursor: pointer;
}

.exports {
    display: flex;
    justify-content: space-between;
}

.export {
    margin: 20px 0;
    text-align: left;
}

.export__button {
    padding: 5px 10px;
    border: 1px solid #EDEAE6;
    background: #EDEAE6;
    color: #82756a;
}

.pagination {
    width: 50%;
}

.result-table {
    width: 100%;
}

tr {
    height: 50px;
    border: 1px solid #ECEBEB;
}

th {
    font-weight: bold;
    background: #82756a;
    color: #fff;
}

.result-table__name-item {
    display: flex;
    justify-content: center;
    padding: 10px auto;
}

.result-table__detail-submit {
    padding: 5px 20px;
    border: 1px solid #D9C6B6;
    text-decoration: none;
    background: #F6F6F6;
    color: #D9C6B6;
    cursor: pointer;
}