.header {
    max-width: 1500px;
    height: 150px;
    border-bottom: 2px solid #F1F0EF;
    font-family: 'Inika', 'メイリオ', serif;
}

.header__utilities {
    position: relative;
}

.header__title {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: #82756a;
}

h1 {
    font-weight: lighter;
}

nav {
    position: absolute;
    top: 0;
    right: 10px;
}